*{
    margin: 0px;
    padding: 0px;
}
.banner-parent{
    background-color: rgba(229, 84, 115, 0.10);;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 600;
}
.banner.description{
    font-size: 15px;
}
.btn{
    background-color:  #E55473;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-top:  20px;
}

.banner-title{
    margin-bottom: 20px;
}
.banner.description{
    margin-top:  20px;
}

.sale-section{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.sale-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.btn-sale{
    text-align: center;
       
}
.sale-description-info{
    text-align: center;
}


.bg-section{
     background-image: url('./images/Rectangle\ 9.png');

    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}
.social-link{
    text-align: center;
}
.flower-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.flower-1{
    width: 250px;

}
.flower-2{
    width: 250px;
}
.flower-3{
    width: 250px;
}
.flower-4{
    width: 250px;
}
.social-link{
    padding-bottom: 15px;
}
.social-link-title{
    padding-bottom: 20px;
}
.social-link-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    
}
.about-bg{
    background-image: url("./images/Rectangle\ 9.png");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0px 200px 0px 200px;
    padding: 100px;
}
.bg-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    
}
.bg-desccription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 20px;
}
.about-bg-section{
    padding: 40px 10px 40px 10px;
}
.about-footer{

    height:10px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
    

}
.footer-title{
   font-size: 48px;

}
.sub-footer{
    color: #E55473;
    padding: auto;
}