*{
    margin: 0px;
    padding: 0px;
}
.banner-parent{
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 600;
}
.banner-description{
    font-size: 15px;
}
.btn{
    background-color:  #E55473;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-top:  20px;
    cursor: pointer;
}

.banner-title{
    margin-bottom: 20px;
}
.banner.description{
    margin-top:  20px;
}
.banner-img{
    width: 400px;
}
.flower-tree{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
    
    
}
.tulip-flower{
    width: 270px;
    height: 310px;
    background-color:rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;

}
.bokey-flower{
    width: 270px;
    height: 310px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.yellow-flower{
    width: 270px;
    height: 310px;
    border-radius: 300px 300px 0px 0px;
    background-color:  rgba(71, 125, 17, 0.15);
    1x
    
}
.flower-tree-info{
    text-align: center;
}
.flower-tree-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 15px;

}
.pink-title{
    text-decoration: underline;
}
.flower-tree-description{
    padding-bottom: 20px;
}
.support-section{
    background: rgba(44, 40, 40, 0.05); 
    padding-top: 12px; 
    display: 90%;

}
.sub-support-section{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    border-radius: 8px;
}
.Delivery-support{
    text-align: center;
}

.sale-section{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.sale-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.btn-sale{
    text-align: center;
       
}
.sale-description-info{
    text-align: center;
}


.bg-section{
     background-image: url('./images/Rectangle\ 9.png');

    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}
.social-link{
    text-align: center;
}
.flower-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.flower-1{
    width: 250px;

}
.flower-2{
    width: 250px;
}
.flower-3{
    width: 250px;
}
.flower-4{
    width: 250px;
}
.social-link{
    padding-bottom: 15px;
}
.social-link-title{
    padding-bottom: 20px;
}
.social-link-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    
}
.about-bg{
    background-image: url("./images/Rectangle\ 9.png");
    background-position:center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 1055px 300px;
    
    padding: 100px;
    
    
    
}
.bg-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    
}
.bg-desccription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 20px;
}
.about-bg-section{
    padding: 40px 10px 40px 10px;
}
.input-email{
    border: none;
    border-radius: 4px;
    cursor:pointer;
    width: 400px;
    height: 40px;
}
.delivery-title{
    text-align: center;
    padding: 20px;
}
.delivery-items{
    color: goldenrod;
}
.delivery-description{
    padding: 10px;
}
.about-footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;

}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;

    font-size: 18px;

    font-weight: 400;

}
.footer-title{
   font-size: 48px;

}
.sub-footer{
    color: #E55473;
    padding: auto;
}